<section id="services" class="module">

    <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">
            <div class="col-sm-12">
                <h2 class="module-title font-alt">Services</h2>
            </div>
        </div>
        <!-- /MODULE TITLE -->

        <div class="row multi-columns-row">

            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-ios-compose-outline"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Designs & interfaces</h5>
                    <div class="content-box-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-ios-gear-outline"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Highly customizable</h5>
                    <div class="content-box-text">
                        Nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-ios-monitor-outline"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Responsive design</h5>
                    <div class="content-box-text">
                        Vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-ios-lightbulb-outline"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Features & plugins</h5>
                    <div class="content-box-text">
                        Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus bus tincidunt.
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-ios-clock-outline"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Optimised for speed</h5>
                    <div class="content-box-text">
                        Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-ios-chatbubble-outline"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Dedicated support</h5>
                    <div class="content-box-text">
                        Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

        </div>

    </div>

</section>
<!-- /SERVICES -->

<!-- DIVIDER -->
<hr class="divider">
<!-- /DIVIDER -->

<section id="contact" class="module">

    <div class="container">
        
        <!-- MODULE TITLE -->
        <div class="row">
            <div class="col-sm-12">
                <h2 class="module-title font-alt">Contact</h2>
            </div>
        </div>
        <!-- /MODULE TITLE -->

        <div class="row">

            <!-- CONTENT BOX -->
            <div class="col-sm-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <span class="ion-ios-location-outline"></span>
                    </div>
                    <div class="content-box-title font-alt">
                        City Street 23, 12345 Townsend
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

            <!-- CONTENT BOX -->
            <div class="col-sm-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <span class="ion-ios-telephone-outline"></span>
                    </div>
                    <div class="content-box-title font-alt">
                        +49 234 567 89 00
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

            <!-- CONTENT BOX -->
            <div class="col-sm-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <span class="ion-ios-email-outline"></span>
                    </div>
                    <div class="content-box-title font-alt">
                        company@email.com
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

        </div>

    </div>

</section>