.modal {
    background: rgba(0,0,0,0.6);
}
.modal-dialog{
    max-width:  1600px;
    margin: 240px auto;
}
.modal-content {
    max-width: 1600px;
    min-height: 700px;
    display: block;
    margin: auto;
    overflow: scroll;
}

.modal-header{
    border-bottom: 0px solid #e9ecef;
    text-align: justify;
    justify-content: flex-end;
    padding-bottom: 0px;
}

// @media(max-width: 768px) {
//     .modal-dialog{
//         margin:  auto;
//     }
// }