.modal {
    background: rgba(0,0,0,0.6);
}
.modal-dialog{
    max-width:  1600px;
    margin: 300px auto;
}
.modal-content {
    max-width: 1600px;
    min-height: 700px;
    display: block;
    margin: auto;
    overflow: scroll;
}

.modal-header{
    border-bottom: 0px solid #e9ecef;
    float: right;
}